.gameoverModal {
  max-width: 400px;
}

.stateImage {
  width: 100%;
  height: auto;
}

.livesContainer {
  display: flex;
  flex-direction: row-reverse;
  gap: 0.75rem;
}

.statContainer {
  display: grid;
  grid-template-columns: 1fr 6rem;
  gap: 1rem;
  padding: 1.5rem;

  width: 100%;
  align-items: center;
  box-sizing: border-box;

  border-radius: 0.75rem;
  border: 2px solid var(--pink);
  background-color: var(--cyan);
}

.stat {
  font-family: 'Yang Bagus';
  font-weight: normal;
  font-size: 1.25rem;
}

.statNumerical {
  font-family: 'Bear Days';
  margin-bottom: 0.25rem;
  font-size: 1.5rem;
  color: var(--red);
  margin-left: auto;
}
