@font-face {
  font-family: 'Yang Bagus';
  src: url(/font/YangBagus.woff);
}

@font-face {
  font-family: 'Bear Days';
  src: url(/font/BearDays.woff);
}

:root {
  --cyan: #effdff;
  --blue: #4fa8fc;
  --red: #fc4f6a;
  --green: #8acc37;
  --dark-green: #679929;
  --yellow: #ffe18e;
  --bronze: #db4500;
  --pink: #ff91a8;
  --hot-pink: #f8315a;
  --grey: #fff2ec;
  --silver: #cecece;
  --text: #531b26;
  --label: #aa4056;
  --background: #fef4ea;

  --shadow: rgba(0, 0, 0, 0.25);

  /* Gradients */
  --grey-gradient: linear-gradient(180deg, #ffffff 0%, #fff2ec 100%);
  --red-gradient: linear-gradient(180deg, #fc4f6a 0%, #f8315a 100%);
  --blue-gradient: linear-gradient(180deg, #6eb9ff 0%, #4fa8fc 100%);
  --yellow-gradient: linear-gradient(180deg, #fff1cb 0%, #ffe18e 100%);
  --green-gradient: linear-gradient(180deg, #91d877 0%, #8acc37 100%);

  /* Breakpoints */
  --breakpoint-xs: 320px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1440px;
  --breakpoint-3xl: 1600px;
}

* {
  margin: 0;
  color: var(--text);
}

html {
  font-size: 16px;

  @media (max-width: 768px) {
    font-size: 14px;
  }
}

body {
  display: flex;
  flex-direction: column;
  max-width: 728px;
  width: 100%;

  color: var(--text);
  font-family: 'Yang Bagus', sans-serif !important;
  font-optical-sizing: auto;

  background-color: var(--background);

  margin: auto;
  height: 100dvh;
  overflow: hidden;

  @media screen and (max-width: 768px) {
    max-width: none;
  }
}

main {
  position: relative;
  flex: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

.dynascale {
  width: 100%;
  aspect-ratio: 1/1;
}

.copyright {
  margin: auto;
  margin-bottom: 2.5rem;
  text-decoration: none;
  color: var(--shadow);
  font-size: 0.875rem;
}
