:root {
  --color-tone-1: #1a1a1b;
  --color-tone-2: #454747;
  --color-tone-3: #a9abad;
  --color-tone-4: #d3d6da;
  --color-tone-5: #edeff1;
  --color-tone-6: #f6f7f8;
  --color-tone-7: #fff;

  --blue: #509ce5;
  --red: #fd8484;
  --green: #6fb05c;
  --yellow: #e9ba3a;
  --grey: #edeff1;
  --text: #1a1a1b;
  --text-secondary: #a9abad;
  --shadow: rgba(0, 0, 0, 0.25);

  &[data-theme='dark'] {
    --color-tone-7: #1a1a1b;
    --color-tone-6: #292b2b;
    --color-tone-5: #323434;
    --color-tone-4: #454747;
    --color-tone-3: #666;
    --color-tone-2: #f6f7f8;
    --color-tone-1: #f6f7f8;

    --red: #bf5a5a;
    --green: #3a8b38;
    --yellow: #b59626;
    --grey: #616161;
    --text: #ffffff;
    --text-secondary: #a9abad;
    --shadow: rgba(0, 0, 0, 0.25);
  }
}

* {
  color: var(--text);
  font-family: 'Nunito', sans-serif;
  font-optical-sizing: auto;
  margin: 0;
}

html {
  font-size: 16px;

  @media (max-width: 768px) {
    font-size: 14px;
  }
}

body {
  background-color: var(--color-tone-5);
  margin: 0;
}

header {
  display: flex;
  position: relative;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 1rem;
  align-items: center;
  height: 5rem;
  width: 100%;

  > h1 {
    text-transform: uppercase;
    font-weight: 900;
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 1.5rem;
  background-color: var(--color-tone-5);
  border-radius: 0.25rem;
  transition: all 0.3s ease;
  user-select: none;
  min-height: 3.25rem;
  width: fit-content;
  padding: 0 1.25rem;
  box-sizing: border-box;

  cursor: pointer;

  border: none;
  border-bottom: 0.25rem solid var(--shadow);

  &:active {
    border: none;
  }

  &:disabled {
    transition: all 0.75s ease;
    filter: grayscale(100%) invert(100%);
    opacity: 50%;
  }

  &.button--icon {
    padding: 0;
    aspect-ratio: 1;
  }

  &.button--outline {
    background-color: transparent;
    border: 2px solid var(--color-tone-5);
  }

  &.button--active {
    color: white;
    background-color: var(--green) !important;
  }

  &.button--danger {
    color: white;
    background-color: var(--red);
  }

  &.button--warning {
    color: white;
    background-color: var(--yellow);
  }

  &.button--highlighted {
    color: white;
    background-color: var(--blue);
  }
}

main {
  display: flex;
  flex-direction: column;
  max-width: 728px;
  width: 100%;

  background-color: var(--color-tone-7);

  margin: auto;
  height: 100dvh;
  overflow: hidden;

  @media (max-width: 768px) {
    max-width: none;
  }
}

