.stats {
  display: flex;
  gap: 2rem;
}

.statContainer {
  display: flex;
  gap: 0.75rem;
  justify-content: center;
  align-items: center;
  height: 3.25rem;
  flex-shrink: 0;
  background-color: white;

  padding: 0 1.25rem;

  border: 2px solid var(--hot-pink);
  border-radius: 0.75rem;
}

.livesContainer {
  display: flex;
  gap: 0.75rem;
  justify-content: center;
  flex-direction: row-reverse;
  align-items: center;
  height: 3.25rem;
  flex-shrink: 0;
  background-color: white;

  padding: 0 1rem;

  border: 2px solid var(--hot-pink);
  border-radius: 0.75rem;
}

.stat {
  font-size: 1.5rem;
  margin-top: 0.375rem;
  text-transform: uppercase;
  font-family: 'Yang Bagus';
  font-weight: normal;
  color: var(--red);

  &.statNumerical {
    font-family: 'Bear Days';
    margin-top: 0;
    font-size: 2rem;
    color: var(--label);
  }
}
