.sudoku__grid {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  padding: 0.75rem;

  background-color: white;

  border: 0.125rem solid var(--pink);
  border-radius: 0.75rem;

  > .sudoku__block:nth-child(3n) {
    border-right: none;
  }

  > .sudoku__block:nth-child(n + 7) {
    border-bottom: none;
  }

  &.sudoku__grid--show-solution {
    pointer-events: none;
  }
}

.sudoku__block {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 0.5rem;
  padding: 0.75rem;

  border-bottom: 2px dashed var(--pink);
  border-right: 2px dashed var(--pink);
}
