.root {
  display: grid;
  grid-template-rows: 100% 1fr;
  grid-template-columns: 100%;
  width: 100%;
  height: 100%;

  transition: opacity 0.3s ease;
  overflow: hidden;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  padding: 1.25rem;
  gap: 2rem;
  box-sizing: border-box;
  width: 100%;
  height: 100%;

  @media (orientation: portrait) and (max-width: 640px) {
    justify-content: space-evenly;
    padding: 1.25rem 1rem;
    /* gap: 1rem; */
  }
}