.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 0.5rem 0.125rem 0.5rem;
  height: 3.25rem;
  cursor: pointer;
  flex-shrink: 0;
  box-sizing: border-box;

  font-size: 1.5rem;
  font-family: 'Grandstander', sans-serif !important;
  font-weight: 900;
  text-decoration: none;

  transition: all 0.15s, border-width 0s, box-shadow 0s ease-in-out;

  border: 0.15rem solid var(--text);
  border-radius: 0.75rem;

  box-shadow: inset 0 -0.35rem 0 var(--shadow);

  color: var(--label);
  background: var(--grey-gradient);
}

.sizeSm {
  font-size: 1.25rem;
  padding: 0.125rem 0.75rem 0 0.75rem;
  height: 2.5rem;
}

.sizeLg {
  font-size: 1.75rem;
  padding: 0 1.5rem 0.125rem 1.5rem;
  height: 4rem;
  box-shadow: inset 0 -0.5rem 0 var(--shadow);
}

.fill {
  width: 100%;
}

.icon {
  aspect-ratio: 1/1 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.variantDanger {
  color: white;
  background: var(--red-gradient);
}

.variantOk {
  color: white;
  background: var(--green-gradient);
}

.variantWarning {
  color: var(--red);
  background: var(--yellow-gradient);
}

.disabled {
  cursor: auto;
  opacity: 0.5;
}

.button:enabled:hover {
  filter: brightness(1.1);
}

.button:enabled:active {
  border-color: transparent;
  box-shadow: none;
  padding-bottom: 0;
}

.button:enabled:focus-visible {
  outline-color: var(--pink);
}
